[Desktop Entry]
Name=OZ-POS
Comment=Point-of-sale framework
Exec=oz-pos-app
Icon=oz-pos
Type=Application
Categories=Office;Finance;
Terminal=false
StartupNotify=true
MimeType=application/x-ozpkg;
